USE CampeonatosFIFA
GO

/* Agregar registros de PAIS */
SET IDENTITY_INSERT Pais ON
INSERT INTO Pais (Id, Pais, Entidad) VALUES(   0, '** Desconocido **', '');
INSERT INTO Pais (Id, Pais, Entidad) VALUES(   1, 'Colombia', 'Federación Colombiana de Futbol');
INSERT INTO Pais (Id, Pais, Entidad) VALUES(   2, 'Argentina', 'Asociación de Futbol Argentino');



SET IDENTITY_INSERT Pais OFF

SET IDENTITY_INSERT Fase ON
INSERT INTO Fase (Id, Fase) VALUES(   0, 'Eliminatorias');
INSERT INTO Fase (Id, Fase) VALUES(   1, 'Grupos');
INSERT INTO Fase (Id, Fase) VALUES(   2, 'Octavos de Final');
SET IDENTITY_INSERT Fase OFF


SET IDENTITY_INSERT Ciudad ON
INSERT INTO Ciudad (Id, Ciudad, IdPais) VALUES(   0, '** Desconocido **',   0);
INSERT INTO Ciudad (Id, Ciudad, IdPais) VALUES(   1, 'México D.F.',   9);
INSERT INTO Ciudad (Id, Ciudad, IdPais) VALUES(   2, 'Johannesburgo',   3);
SET IDENTITY_INSERT Ciudad OFF

SET IDENTITY_INSERT Estadio ON
INSERT INTO Estadio (Id, Estadio, IdCiudad, Capacidad) VALUES( 0, '** Desconocido **', 0, 0);
INSERT INTO Estadio (Id, Estadio, IdCiudad, Capacidad) VALUES( 1, 'Estadio Azteca', 1, 114600);
INSERT INTO Estadio (Id, Estadio, IdCiudad, Capacidad) VALUES( 2, 'Stade de France', 4, 80000);
SET IDENTITY_INSERT Estadio OFF

SET IDENTITY_INSERT Campeonato ON
INSERT INTO Campeonato (Id, Campeonato, IdPais, Año) VALUES(   1, 'FIFA World Cup 2010',   3,       2010);
INSERT INTO Campeonato (Id, Campeonato, IdPais, Año) VALUES(   2, 'FIFA World Cup 2006',   4,       2006);
INSERT INTO Campeonato (Id, Campeonato, IdPais, Año) VALUES(   3, 'FIFA World Cup 2002',   5,       2002);
SET IDENTITY_INSERT Campeonato OFF

SET IDENTITY_INSERT Grupo ON
INSERT INTO Grupo (Id, Grupo, IdCampeonato) VALUES(   1, 'E',   1);
INSERT INTO Grupo (Id, Grupo, IdCampeonato) VALUES(   2, 'A',   1);
INSERT INTO Grupo (Id, Grupo, IdCampeonato) VALUES(   3, 'B',   1);
SET IDENTITY_INSERT Grupo OFF

INSERT INTO GrupoPais (IdGrupo, IdPais) VALUES(  1,  5);
INSERT INTO GrupoPais (IdGrupo, IdPais) VALUES(  1,  21);
INSERT INTO GrupoPais (IdGrupo, IdPais) VALUES(  1,  35);


















SET DATEFORMAT DMY
SET IDENTITY_INSERT Encuentro ON
INSERT INTO Encuentro (Id, IdPais1, IdPais2, IdCampeonato, IdFase, Fecha, Goles1, Goles2, IdEstadio) 
	VALUES(  1,  11,  39,   4,   1, '23/06/1998',   1,   2,   6); --BRASIL 1 - NORUEGA 2 (MARSELLA)
INSERT INTO Encuentro (Id, IdPais1, IdPais2, IdCampeonato, IdFase, Fecha, Goles1, Goles2, IdEstadio) 
	VALUES(  2,  11,  40,   4,   1, '10/06/1998',   2,   1,   2); --BRASIL 2 - ESCOCIA 1 (SAN DENIS)
INSERT INTO Encuentro (Id, IdPais1, IdPais2, IdCampeonato, IdFase, Fecha, Goles1, Goles2, IdEstadio) 
	VALUES(  3,  11,  41,   4,   1, '16/06/1998',   3,   0,   8); --BRASIL 3 - MARRUECOS 0 (NANTES)
 --ESCOCIA 1 - NORUEGA 1 (BURDEOS)
  --NORUEGA 2 - MARRUECOS 2 (MONTPELIER)
  --ESCOCIA 0 - MARRUECOS 3 (SAN ETIAN)
SET IDENTITY_INSERT Encuentro OFF

/* Agregar registros de USUARIO */
INSERT INTO Usuario	(Usuario, Nombre) VALUES('simon', 'Simón Tolomeo')
	
--Instrucciones que asignan una clave igual para todos los usuarios
DECLARE @Clave nvarchar(50)
SET @Clave='123'

UPDATE Usuario
	SET Clave=HASHBYTES('SHA1',@Clave)